{% extends 'layout.html' %}
{% block head %}
<ul class="nav justify-content-center">
  <li class="nav-item">
    <a class="nav-link" href="/base">Base Model</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/pid">PID Control</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/fuzzy">Fuzzy Logic</a>
  </li>
</ul>
{% endblock %}

{% block body %}
<div class='row'>
<div class='col-lg-3'>
   <form action='/fuzzy' method='POST'>
      <label for='wspolczynnik_wyplywu'>Współczynnik wypływu</label>
      <input class='form-control' type='text' name='wspolczynnik_wyplywu' value="{{b if b else 0.2}}">

      <label for='wysokosc_zbiornika'>Wysokość zbiornika [m]</label>
      <input class='form-control' type='text' name='wysokosc_zbiornika' value='{{hmax if hmax else 2}}'>

      <label for='wysokosc_zadana'>Wysokość zadana [m]</label>
      <input class='form-control' type='text' name='wysokosc_zadana' value='{{hz if hz else 1}}'>

      <label for='pole_dna'>Pole powierzchni dna [m^2]</label>
      <input class='form-control' type='text' name='pole_dna' value='{{A if A else 2}}'>

      <label for='wplyw_max'>Maksymalny dopływ [m^3/hr]</label>
      <input class='form-control' type='text' name='wplyw_max' value='{{Qmax if Qmax else 2}}'>

      <label for='krok_symulacji'>Krok symulacji [hr]</label>
      <input class='form-control' type='text' name='krok_symulacji' value='{{dt if dt else 0.1}}'>

      <label for='czas_symulacji'>Czas symulacji [hr]</label>
      <input class='form-control' type='text' name='czas_symulacji' value='{{tf if tf else 10}}'>
            
      <button type='submit' class='btn btn-primary mt-4'>Zatwierdź</button>
   </form>
</div>
<div class='col'>
   <canvas id="myChart" width="1000" height="700"></canvas>
</div>
</div>

<script>
let allLabels = {{labels}}
let allValues = {{values}}

allLabels.forEach(function(part, index, theArray) {
  theArray[index] = part.toFixed(2);
});
var ctx = document.getElementById('myChart');
var myChart = new Chart(ctx, {
    type: 'line',
    data: {
      labels : allLabels,
        datasets: [{
            label: 'Poziom Cieczy',
            data: allValues,
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
      responsive: false,
        scales: {
            y: {
                beginAtZero: true
            }
        }
    }
});
</script>

{% endblock %}